{% extends 'base.html' %}

{% block home %}

<button onclick="window.location.href='{% url 'courses_list' %}'"
        type="button"
        class="btn btn-primary btn-lg btn-block"
        style="font-size:22px; width: 30%; height: 50px; margin:auto; margin-top:10px; display:block;">
    Show courses list
</button>

<button onclick="window.location.href='{% url 'students_list' %}'"
        type="button"
        class="btn btn-primary btn-lg btn-block"
        style="font-size:22px; width: 30%; height: 50px; margin:auto; margin-top:10px; display:block; ">
    Show students list
</button>

{% endblock home%}
