{% extends 'base.html' %}
{% load static %}

{% block users %}

{% include 'users_courses_buttons.html' %}

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="float: right;">
    <div class="btn-group mr-2" role="group" aria-label="Second group">
        <form class="form-inline" action=" " method="get">
            <input class="form-control mr-sm-2" type="text" placeholder="type name" name="name" value="{{ name }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>


    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal">add user</button>
    </div>
    {% include 'modal_create.html' %}
</div>
<h3 style="color: blue">USERS</h3>

<table class="table" style="table-layout:fixed; width:100%; word-wrap:break-word;">
    <thead class="thead-light">
        <tr>
            <th style="width:6%">ID</th>
            <th style="width:40%">Name</th>
            <th>Courses</th>
            <th>Email</th>
            <th style="width:10%">Status</th>
            <th style="width:10%">Action</th>
        </tr>
    </thead>

    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>
                    {% if user.courses.all %}
                        {% for course in user.courses.all %}
                            <div>{{ course }}</div>
                        {% endfor %}
                    {% else %}
                        no courses
                    {% endif %}
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.status }}</td>
                <td>
                    <button type="button"
                            class="btn btn-success btn-circle"
                            data-toggle="modal"
                            data-target="#updateModal{{user.id}}">
                        <i class="fas fa-feather-alt"></i>
                    </button>

                    <button type="button"
                            class="btn btn-danger btn-circle"
                            data-toggle="modal"
                            data-target="#confirmDeleteModal{{user.id}}">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    {% include 'modal_delete_confirm.html' %}
                    {% include 'modal_update.html' %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'pagination.html' %}
{% endblock users %}
